extends ../layout
block content
	.container
		a(href="/publish") 发布文章
	.container
		table.table.table-hover
			thead
				tr
					th 标题
					th 创建时间
					th 查看
					th 操作
				tbody
					each item in blogs
						tr(class="item-id-#{item._id}")
							td #{item.articleName}
							td #{moment(item.createAt).format('MM/DD/YYYY')}
							td
								button.btn.btn-default.deleteBlog(type="button",data-id="#{item._id}") 删除
							td
								a.blogDetail 查看
							input.articleId(type="hidden",value="#{item._id}")
	script(src="script/admin.js",type="text/javascript")