doctype
html
	meta(charset="utf-8")
	title #{title}
	include ../includes/head
body
	.container
		a(href="/index") 返回首页
		h2.admin-title #{admin_title}
		table.table.table-hover.m-table
			thead
				tr
					th 标题
					th 作者
					th 创建时间
					th 操作
				tbody
					each item in blogs
						tr(class="item-id-#{item._id}")
							td #{item.articleName}
							td #{item.authorName}
							td #{moment(item.createAt).format('YYYY.MM.DD')}
							td
								button.btn.btn-warning.deleteBlog(type="button", data-id="#{item._id}") 删除
